<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <!-- a SessionFactory instance listed as /jndi/name -->
    <session-factory>
        <!-- properties -->
        <property name="connection.url">jdbc:sqlserver://localhost:1433;DatabaseName=HomeMoney;encrypt=true;trustServerCertificate=true</property>
        <property name="connection.username">sa</property>
        <property name="connection.password">password</property>
        <property name="connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <property name="dialect">org.hibernate.dialect.SQLServerDialect</property>
        <property name="show_sql">true</property>

        <!-- entities mappings -->
        <mapping class="com.virtualpairprogrammers.model.Income"/>
    </session-factory>

</hibernate-configuration>